name: Adum Inav CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
        
      - name: Install build dependencies
        run: |
          #sudo apt-get update
          sudo apt-get install -y \
            cmake \
            gcc \
            g++ \
            ninja-build \
            gcc-arm-none-eabi
